{{> header}}

<section class="sites">
    <h2>101 sites 5</h2>
    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/01.2_bansko.jpg" alt="">
                </div>
                <h3>1.Basko </h3>
                <h4>Region: Blagoevgrad</h4>
                <p>
                    Bansko is a town in southwestern Bulgaria, located at the foot of the Pirin
                    Mountains at an elevation of 1200m above sea level.<span id="dots">...</span>
                    <span id="more"> It is a popular ski resort.
                        There are several legends about who founded Bansko. According to one, Bansko was
                        founded by people who lived in Dobarsko, a village in Rila, itself, according to
                        a legend, founded by the blinded army of Tsar Samuil. Another legend claims that
                        Bansko was founded by an Italian painter by the name of
                        Ciociolino, hence the existence of the name Chucholin in Bansko.
                        <img src="/images/101touristSites/01.1_Bansko-on-off-slopes.jpg" alt="">
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17815.80624073221!2d23.47446529612501!3d41.83570623315293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abaeb946493c25%3A0xd6b0eaa049fe85c7!2s2770%20Bansko!5e0!3m2!1sen!2sbg!4v1587071751735!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <div class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/02_pirin.jpg" alt="">
                </div>
                <h3>2.Pirin Mountain</h3>
                <h4>Region: Blagoevgrad</h4>
                <p>
                    The Pirin Mountain (Bulgarian: Пирин) is a mountain range in southwestern Bulgaria, with Vihren at
                    an altitude of 2,914 m being the highest peak.<span id="dots">...</span>
                    <span id="more"> One hypothesis is the mountain was named after Perun,
                        the highest god of the Slavic pantheon and the god of thunder and lightning. Another version is
                        that the etymology of the range derives from the Thracian word Perinthos, meaning "Rocky
                        Mountain".<img src="/images/101touristSites/02_2pirin.jpg" alt="">
                        The range extends about 80 km from the north-west to the south-east and is about 40 km wide,
                        spanning a territory of 2,585 km2 (998 sq mi).
                    </span></p>
            </div>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <div class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/03.1_sv-teodor.jpg" alt="">
                </div>
                <h3>3.The church in Dobarsko village</h3>
                <h4>Region: Blagoevgrad</h4>
                <p>
                    If you have only heard about this church, but you haven’t visited it
                    <span id="dots">...</span> <span id="more">, then your first
                        impression as you approach is likely to be a little disappointment.The
                        Orthodox temple „St. Teodor Tiron and St. Teodor Stratilat” – is simple,
                        small and doesn’t attract attentioon.In fact, there is an
                        explanation of the construction of the church and it is quite logical.
                        According the existing official documents, the church was built in XVII century (1614),
                        and this is a period in which our country was under the Ottoman rule. According to the
                        Turkish laws that were applicable at that time, the Christian temples couldn’t be larger
                        and higher that the Turkish temples.
                        <img src="/images/101touristSites/03.2_sv-teodor3.jpg" alt="">
                        For this reason, the local people from Dobarsko village dug the temple into the ground,
                        didn’t put a dome and a bell tower on it, and they observe the requirement for the small size.
                        Thus, when a Turk walked by the church, he wasn’t able to even notice it, because from the
                        outside it looked rather like a simple stone building with small dimensions (8.37 meters in
                        length, 6.5 meters width and 5.2 meters high at its highest part).
                    </span>
                </p>
            </div>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8512.624552085003!2d23.469435932254573!3d41.96768159257194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ab012b2e7cd085%3A0x1362454345f3d38a!2sChurch%20%22St.%20St.%20Theodore%20Tyron%20and%20Theodore%20Stratilat%20%22!5e0!3m2!1sen!2sbg!4v1587149186326!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/04.1_melnik-and-rozhen-monastery-01.jpg" alt="">
                </div>
                <h3>4.Melnik</h3>
                <h4>Region: Blagoevgrad</h4>
                <p>Melnik (Bulgarian: Мелник, Greek: Μελένικο, Meleniko) is a town in Blagoevgrad Province, Southwestern
                    Bulgaria, in the Southwestern Pirin Mountains<span id="dots">...</span>
                    <span id="more">, about 440 m above sea level. The town is an
                        architectural reserve and 96 of its buildings are cultural monuments.With a population of 385,
                        it is the smallest town in Bulgaria, retaining its town status today for historical reasons.
                        It is situated on the foothills of the Pirin mountain range and is overlooked by the Melnik
                        Earth Pyramids.
                        <img src="/images/101touristSites/04.2_Melnik.jpg" alt="">
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5973.983401855986!2d23.392069626675436!3d41.52612041700641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abcd256fe9ef09%3A0xa00a014cd0d85f0!2s2820%20Melnik!5e0!3m2!1sen!2sbg!4v1587151404555!5m2!1sen!2sbg"
                            width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>

    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/05.1_rupite.jpg" alt="">
                </div>
                <h3>5.Rupite </h3>
                <h4>Region: Blagoevgrad</h4>
                <p>
                    Rupite is a protected area, which is situated at a distance of about 10 km from Petrich and 2 km
                    from the village of Rupite<span id="dots">...</span>
                    <span id="more">, at the eastern foot of the extinct volcano Kozhuh Mountain (281 meters
                        altitude).The hill was built by volcanic rocks. Its name
                        comes from the fact that it looks like a mantle (kozhuh in Bulgarian).
                        The protected area of Rupite is famous for its healing mineral springs with a temperature of
                        74°C and capacity of up to 35 l/sec.
                        <img src="/images/101touristSites/05.2_rupite.jpg" alt="">
                        The Church of St Petka was constructed at a site chosen by Baba Vanga in 1992 and has since then
                        become a place of worship for many people and a renowned tourist attraction. The icons were
                        created by the noted artist Svetlin Rusev and were not generally approved by the Holy Synod of
                        the Bulgarian Orthodox Church for being too realistic and not conforming to the canons.
                        The house of Vanga can seen nearby and a new monastery is currently under construction.
                    </span> </p>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/06.2_.Sandanski.jpg" alt="">
                </div>
                <h3>6.Sandanski</h3>
                <h4>Region: Blagoevgrad</h4>
                <p>
                    Sandanski (Bulgarian: Сандански, formerly known as Sveti Vrach, Bulgarian: Свети Врач, until
                    1947[2]) is a town and<span id="dots">...</span>
                    <span id="more"> a recreation centre in south-western Bulgaria, part of Blagoevgrad Province.
                        Named after revolutionary Yane Sandanski, it is situated in a valley at the foot of Pirin
                        Mountains, along the banks of Sandanska Bistritsa River. Sandanski is about 20 km away
                        from Bulgaria-Greece border and 100 km away from Aegean sea.
                        <img src="/images/101touristSites/06.1_.Sandanski.jpg" alt="">
                    </span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/07.1_dospat-dam.jpg" alt="">
                </div>
                <h3>7.Dospat and Dospat Dam</h3>
                <h4>Region: Blagoevgrad</h4>
                <p>
                    Dospat (Bulgarian: Доспат) is a town in the very south of Bulgaria, part of Smolyan Province,
                    situated in the Rhodope Mountains<span id="dots">...</span>
                    <span id="more">, close to Dospat Dam. It is the administrative centre of the
                        homonymous Dospat Municipality.
                        <img src="/images/101touristSites/07.2_dospat.jpg" alt="">
                        The town was probably founded by Despot Alexius Slav in the 12th or 13th century, from whose
                        title (despot) its name is very likely derived. Dospat Dam is the highest dam in Bulgaria
                        by altitude and, with its 22 km² of water area, the second largest in capacity. It is fed
                        by the River Dospat. At the bottom of the lake is a former German military airport from the
                        Second World War.</span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/08.1_nesebur.jpg" alt="">
                </div>
                <h3>8.Nesebur</h3>
                <h4>Region: Burgas</h4>
                <p>Nesebar (often transcribed as Nessebar and sometimes as Nesebur, Bulgarian: Несебър, pronounced
                    [nɛˈsɛbɐr]) is an <span id="dots">...</span>
                    <span id="more"> ancient city and one of the major seaside resorts on the Bulgarian Black Sea
                        Coast, located in Burgas Province.
                        It is the administrative centre of the homonymous Nesebar
                        Municipality. Often referred to as the "Pearl of the Black Sea", Nesebar is a rich city-museum
                        defined by more than three millennia of ever-changing history. The small city exists in two
                        parts
                        separated by a narrow man-made isthmus with the ancient part of the settlement on the peninsula
                        (previously an island), and the more modern section (i.e. hotels, later development) on the
                        mainland
                        side. The older part bears evidence of occupation by a variety of different civilisations over
                        the
                        course of its existence.
                        <img src="/images/101touristSites/08.2_nesebur.jpg" alt="">
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>

    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/09.2_lakePomorie.jpg" alt="">
                </div>
                <h3>9.Lake Pomorie </h3>
                <h4>Region: Burgas</h4>
                <p>
                    Lake Pomorie (Bulgarian: Поморийско езеро, Pomoriysko ezero) is the northernmost of the coastal
                    Burgas Lakes, located in<span id="dots">...</span>
                    <span id="more">
                        the immediate proximity of the Black Sea and the Bulgarian town of Pomorie.
                        It has an area of 8.5 km² (reaching 10 km² together with the adjacent damp zones) and has an
                        elongated shape with a length of 6.7 km and width of 1.8–2 km. Divided from the sea by a narrow
                        strip of sand (spit) and an artificial dike, the lake is an ultrasaline natural lagoon.
                        Lake Pomorie is a protected area since January 2001. Sea salt is obtained in the north part and
                        curative mud in the south. Located on the Via Pontica bird migration route, the lake is
                        inhabited by
                        215 species of birds, 4 of which globally endangered, and is thus of ornithological importance.
                        <img src="/images/101touristSites/09.1_lakePomorie.jpg" alt=""></span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/10.1_petrova niva.jpg" alt="">
                </div>
                <h3>10.Petrova niva</h3>
                <h4>Region: Burgas</h4>
                <p>
                    Petrova Niva (Bulgarian: Петрова нива, "Peter's field") is a historic area in the Strandzha
                    mountains of southeastern Bulgaria<span id="dots">...</span>
                    <span id="more"> where, between 11 and 13 July 1903, a group of Bulgarian Internal
                        Macedonian-Adrianople Revolutionary Organization (IMARO)
                        delegates announced the outbreak of an anti-Ottoman uprising aimed at liberating
                        southern Thrace from Ottoman rule and proclaimed the Strandzha Republic.
                        <img src="/images/101touristSites/10.2_petrova niva.jpg" alt="">
                        The area lies on the land of the village of Stoilovo in Malko Tarnovo municipality, Burgas
                        Province, within the territory of Strandzha Nature Park. It is among the 100 Tourist Sites
                        of Bulgaria; a monument to the event was built in the 1950s and a church dedicated to Saint
                        Petka was constructed in 2003 for the congress' centennial anniversary, as well as a museum.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/11.1_sozopol.png" alt="">
                </div>
                <h3>11.Sozopol</h3>
                <h4>Region: Burgas</h4>
                <p>
                    Sozopol (Bulgarian: Созопол, Greek: Σωζόπολη, Sozopoli) is an ancient seaside town located 35 km
                    south of Burgas on the southern Bulgarian Black Sea Coast.<span id="dots">...</span>
                    <span id="more">Today it is one of the major seaside
                        resorts in the country, known for the Apollonia art and film festival
                        (which takes place in early September) that is named after one of the town's ancient names.
                        <img src="/images/101touristSites/11.2_sozopol.jpg" alt="">
                        The busiest times of the year are the summer months, ranging from May to September as tourists
                        from
                        around the world come to enjoy the weather, sandy beaches, history and culture, fusion cuisine
                        (Balkan and Mediterranean), and atmosphere of the colourful resort.
                        meters width and 5.2 meters high at its highest part).</span>
                    </span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/12.1_varna.large.jpg" alt="">
                </div>
                <h3>12.Varna</h3>
                <h4>Region: Varna</h4>
                <p>Varna (Bulgarian: Варна, pronounced [ˈvarnɐ]) is the third-largest city in Bulgaria and the largest
                    city and seaside resort on the <span id="dots">...</span>
                    <span id="more"> Bulgarian Black Sea Coast. Situated strategically in the Gulf of
                        Varna, the city has been a major economic, social
                        and cultural centre for almost three millennia.
                        Varna, historically known as Odessos (Ancient Greek: Ὀδησσός), grew from a Thracian seaside
                        settlement to a major seaport on the Black Sea.
                        <img src="/images/101touristSites/12.2_varna.large.jpg" alt="">
                        Varna is an important centre for business, transportation, education, tourism, entertainment and
                        healthcare. The city is referred to as the maritime capital of Bulgaria and headquarters the
                        Bulgarian Navy and merchant marine. In 2008, Varna was designated the seat of the Black Sea
                        Euroregion by the Council of Europe.
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>

    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/13.1_kaliakra.jpg" alt="">
                </div>
                <h3>13.Kaliakra </h3>
                <h4>Region: Varna</h4>
                <p>
                    Kaliakra (Bulgarian: Калиакра) is a long and narrow headland in the Southern Dobruja region of the
                    northern Bulgarian Black Sea Coast<span id="dots">...</span>
                    <span id="more">, 12 kilometres (7 mi) east of Kavarna, 60 kilometres (37 mi)
                        northeast of Varna and 65 kilometres (40 mi) southwest of Mangalia. The coast is steep with
                        vertical cliffs reaching 70 metres (230 ft) down to the sea.[1] Kaliakra is a nature reserve,
                        where dolphins and cormorants can be observed. It sits on the Via Pontica, a major bird
                        migration route from Africa into Eastern and Northern Europe.
                        <img src="/images/101touristSites/13.2_kaliakra.jpg" alt="">
                        Many rare and migrant birds can be seen here in spring and autumn
                        and, like much of this coastline, is home to several rare breeding birds (e.g. pied wheatear and
                        a local race of European shag). The rest of the reserve also has unusual breeding birds; saker
                        falcon, lesser grey shrike and a host of others.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/14.2_aladzhaMonastery.jpg" alt="">
                </div>
                <h3>14.Aladzha Monastery</h3>
                <h4>Region: varna</h4>
                <p>
                    Aladzha Monastery (Bulgarian: Аладжа манастир) is a medieval Orthodox Christian cave monastery
                    complex in northeastern Bulgaria<span id="dots">...</span>
                    <span id="more">, 17 km north of central Varna and 3 km west of Golden Sands beach
                        resorta, in a protected forest area adjacent to the Golden Sands Nature Park.
                        The monastery caves were hewn into a 25-m high vertical karst cliff near the upper edge of the
                        Franga Plateau on several levels.
                        <img src="/images/101touristSites/14.1_aladzhaMonastery.jpg" alt="">
                        The complex includes two small nearby catacombs. Dedicated to the Holy Trinity, it was an
                        active hesychast monastic community of the Second Bulgarian Empire since the 12th century
                        and perhaps survived until the early 18th century. Nearby, remains of a 5th-century cave
                        monastery have been found.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/15.1_balchik.jpg" alt="">
                </div>
                <h3>15.The Balchik Palace</h3>
                <h4>Region: Varna</h4>
                <p>
                    The Balchik Palace (Bulgarian: Дворец в Балчик, Dvorets v Balchik; Romanian: Castelul din Balcic) is
                    a palace in the Bulgarian Black Sea <span id="dots">...</span>
                    <span id="more">
                        town and resort of Balchik in Southern Dobruja.
                        <img src="/images/101touristSites/15.2_balchik.jpg" alt="">
                        The official name of the palace was the Quiet Nest Palace. It was constructed between 1926 and
                        1937, during the Romanian control of the region, for the needs of Queen Marie of Romania.
                        The palace complex consists of a number of residential villas, a smoking hall, a wine cellar,
                        a power station, a monastery,a holy spring, a chapel and many other buildings, as well as most
                        notably a park that is today a state-run botanical garden. Balchik Palace is 17 metres (56 ft)
                        above sea level.
                    </span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/16.1_albena.jpg" alt="">
                </div>
                <h3>16.Albena</h3>
                <h4>Region: Varna</h4>
                <p>Albena (Bulgarian: Албена) is a major Black Sea resort in northeastern Bulgaria, situated 12 km (7
                    mi) from Balchik <span id="dots">...</span>
                    <span id="more">
                        and 30 km (19 mi) from Varna. Albena is served by Varna Airport.
                        Albena is one of the purpose-built resorts on the Bulgarian Black Sea coast and has a uniform
                        and unique architectural style.
                        <img src="/images/101touristSites/16.2_albena.jpg" alt="">
                        The resort is 5-km long, 150 m wide beach with fine sand. Sea depth does not exceed 1.6 metres
                        at a distance up to 100–150 metres from the beach. The tourist season lasts from May till
                        October. The resort is named after a female character from a tale by Bulgarian writer
                        Yordan Yovkov. Albena is a Bulgarian female given name.
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>

    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/17.1_carevec.jpg" alt="">
                </div>
                <h3>17.Tsarevets, Veliko Turnovo </h3>
                <h4>Region: Veliko Turnovo</h4>
                <p>
                    Tsarevets (Bulgarian: Царевец, romanized: Carevec) is a medieval stronghold located on a hill with
                    the same name<span id="dots">...</span>
                    <span id="more">
                        in Veliko Tarnovo in northern Bulgaria.Tsarevets is 206 metres (676 ft) above sea
                        level. It served as the Second Bulgarian Empire's primary fortress and strongest bulwark between
                        1185 and 1393, housing the royal and the patriarchal palaces, and it is also a popular tourist
                        attraction.
                        <img src="/images/101touristSites/17.2_Veliko-Tarnovo-view.jpg" alt="">
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/18.1_nikopolis960x642.jpg" alt="">
                </div>
                <h3>18Nicopolis ad Istrum </h3>
                <h4>Region: Veliko Tarnovo</h4>
                <p>
                    Nicopolis ad Istrum (Greek: Νικόπολις ἡ πρὸς Ἴστρον) or Nicopolis ad Iatrum[1][2] was a Roman and
                    Early Byzantine town.<span id="dots">...</span>
                    <span id="more">
                        Its ruins are located at the village of Nikyup,[3] 20 km north of Veliko Tarnovo in northern
                        Bulgaria. The town reached its zenith during the reigns of Hadrian, the Antonines and the
                        Severan dynasty.
                        <img src="/images/101touristSites/18.2_nikopolis960x642.jpg" alt="">
                        Archaeological excavations are continuing to reveal more of the city.The site was placed on
                        the Tentative List for consideration as a World Heritage Site by UNESCO in 1984.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/19.1_arbanaci.jpg" alt="">
                </div>
                <h3>19.Arbanasi</h3>
                <h4>Region: Veliko Tarnovo</h4>
                <p>
                    Arbanasi (Bulgarian: Арбанаси, also transliterated as Arbanassi) is a village in Veliko Tarnovo
                    Municipality<span id="dots">...</span>
                    <span id="more">, Veliko Tarnovo Province of central northern Bulgaria, set on a high plateau
                        between the larger towns of Veliko Tarnovo (four kilometres away) and Gorna Oryahovitsa.
                        It is known for the rich history and large number of historical monuments, such as 17th- and
                        18th-century churches and examples of Bulgarian National Revival architecture, which have
                        turned it into a popular tourist destination.
                        <img src="/images/101touristSites/19.2_arbanaci.jpg" alt="">
                    </span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/20.1_elena.jpg" alt="">
                </div>
                <h3>20.Elena</h3>
                <h4>Region: Veliko Tarnovo</h4>
                <p>Elena (Bulgarian: Елена) is a Bulgarian town in the central Stara Planina mountain in Veliko Tarnovo
                    Province<span id="dots">...</span>
                    <span id="more">, located 42 km southeast of Veliko Tarnovo.
                        It is the administrative centre of the homonymous Elena Municipality. The area is also a
                        mountain resort, known for the typical local cuisine. As of December 2009, the town has a
                        population of 5,665 inhabitants.[1] It forms a terminal for the Gorna Oryahovitsa-Elena railway
                        line.
                        <img src="/images/101touristSites/20.2_elena.jpg" alt="">
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>
    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/21.1_smolqn.jpg" alt="">
                </div>
                <h3>21.Smolyan, Planetarium</h3>
                <h4>Region: Smolyan</h4>
                <p>
                    Smolyan (Bulgarian: Смолян) is a town and ski resort in the far south of Bulgaria near the border
                    with Greece. It is the <span id="dots">...</span>
                    <span id="more">
                        administrative and industrial centre of the homonymous Smolyan Province. The
                        town is situated in the valley of the Cherna ("Black") and the Byala ("White") Rivers in the
                        central Rhodopes at the foot of the mountains' highest part south of the popular ski resorts
                        Pamporovo and Chepelare. On September 6th 1975, the biggest Planetarium with public observatory
                        in Bulgaria opened its doors in the town of Smolyan.
                        <img src="/images/101touristSites/21.2_planetarium.jpg" alt="">
                        The Planetarium is the town's most frequently visited place of interest. For the past 40 years
                        it has been visited by 2,750,000 people.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/23.1_mg-6913-kovatchevitza.jpg" alt="">
                </div>
                <h3>22.Kovachevitsa</h3>
                <h4>Region: Blagoevgrad</h4>
                <p>
                    The village is situated in the Dabrash part of the Rhodope Mountains in the steep valley of the
                    Kanina river, <span id="dots">...</span>
                    <span id="more">
                        9 kilometers north of Garmen, 71 kilometers southeast of Blagoevgrad
                        and 119 kilometers southeast of Sofia.
                        <img src="/images/101touristSites/23.2_Kovachevitsa_street_and_houses.jpg" alt="">
                        The village was founded by refugees from different villages, who tried to escape the Ottoman
                        assimilation in the 17th century. The isolated location and the fresh water supply were the most
                        important factors in this process. The village has never had Ottoman administration, therefore
                        it preserved the Bulgarian traditions.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/3.1_sv-teodor.jpg" alt="">
                </div>
                <h3>3.The church „St. Teodor Tiron and St. Teodor Stratilat” – Dobarsko village</h3>
                <h4>Region: Blagoevgrad</h4>
                <p>
                    If you have only heard about this church, but you haven’t visited it, then your first impression as
                    you approach is likely to be a little disappointment.<span id="dots">...</span> <span id="more">The
                        Orthodox temple is simple, small and
                        doesn’t attract attentioon.In fact, there is an
                        explanation of the construction of the church and it is quite logical.
                        According the existing official documents, the church was built in XVII century (1614), and this
                        is
                        a period in which our country was under the Ottoman rule. According to the Turkish laws that
                        were
                        applicable at that time, the Christian temples couldn’t be larger and higher that the Turkish
                        temples.
                        <img src="/images/101touristSites/3.2_sv-teodor3.jpg" alt=""> For this reason, the local people
                        from Dobarsko village dug the temple into the ground,
                        didn’t put a dome and a bell tower on it, and they observe the requirement for the small size.

                        Thus, when a Turk walked by the church, he wasn’t able to even notice it, because from the
                        outside
                        it looked rather like a simple stone building with small dimensions (8.37 meters in length, 6.5
                        meters width and 5.2 meters high at its highest part).</span>
                    </span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/4.1_melnik-and-rozhen-monastery-01.jpg" alt="">
                </div>
                <h3>4.Melnik</h3>
                <h4>Region: Blagoevgrad</h4>
                <p>Melnik (Bulgarian: Мелник, Greek: Μελένικο, Meleniko) is a town in Blagoevgrad Province, Southwestern
                    Bulgaria, in the Southwestern Pirin Mountains, about 440 m above sea level. The town is an
                    architectural reserve and 96 of its buildings are cultural monuments.<span id="dots">...</span>
                    <span id="more">With a population of 385, it
                        is the smallest town in Bulgaria, retaining its town status today for historical reasons. It is
                        situated on the foothills of the Pirin mountain range and is overlooked by the Melnik Earth
                        Pyramids.
                        <img src="/images/101touristSites/4.2_Melnik.jpg" alt="">
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330364.6730084542!2d23.402146430457872!3d41.63553122240753!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14abb7e7ea46040b%3A0xa4a6c8cde5aa050a!2sPirin%20Mountains!5e0!3m2!1sen!2sbg!4v1587149099364!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>
<div class="change_btn_section">
    <a href="#/tourist101sites/tourist101sites">1</a>
    <a href="#/tourist101sites/tourist101sites2">2</a>
    <a href="#/tourist101sites/tourist101sites3">3</a>
    <a href="#/tourist101sites/tourist101sites4">4</a>
    <a class="curent sidespage" href="#/tourist101sites/tourist101sites5">5</a>
</div>
</section>

{{> footer}}