{{> header}}

<section class="sites">
    <h2>101 sites 3</h2>
    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/41.1_Uhlovica_Peshtera.jpg" alt="">
                </div>
                <h3>41.Uhlovica cave </h3>
                <h4>Region: Smolyan</h4>
                <p>
                    Uhlovica cave is situated 25 km (16 miles) southeast from Smolyan city 3 km from Mogilitsa village.
                    It’s on the upper river valley of Arda river <span id="dots">...</span>
                    <span id="more">. You can reach us when you follow the road to Smilyan
                        village. Then you follow the road to Koshnitsa village and after 2km you will reach the parking
                        of the cave in the right side of the road. You can also follow the brown signs to Koshitsa
                        fortress.
                        <img src="/images/101touristSites/41.2_uhlovica.jpg" alt="">
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2987.5422184644412!2d24.657855815390135!3d41.51419417925278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ac44d4115770c1%3A0xe994c3e45d8e8c1e!2sUhloviza%20cave!5e0!3m2!1sen!2sbg!4v1588242096876!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <div class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/42.0_belasitsa.jpg" alt="">
                </div>
                <h3>42.Belasica Mountain</h3>
                <h4>Region: Blagoevgrad</h4>
                <p>Belasica is a mountain range in the region of Macedonia in Southeastern Europe,
                    shared by northeastern <span id="dots">...</span>
                    <span id="more">
                        Greece (about 45%), southeastern North Macedonia (35%) and southwestern
                        Bulgaria (20%).
                        <img src="/images/101touristSites/42.1_belasitsa.jpg" alt="">
                        The mountain range is fault-block mountain about 60 km (37.28 mi) long and 7 to 9 km (4.35 to
                        5.59 mi) wide and is situated just northeast of Dojran Lake. The highest point is Radomir
                        (Kalabaka) at 2,031 m, with elevation otherwise ranging between 300 and 1900 m above sea level.
                        The borders of all three countries meet at Tumba Peak. The climate in the area shows strong
                        Mediterranean influence.
                    </span></p>
            </div>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d191684.49558561144!2d23.073489789822258!3d41.35082691164113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a98eca084096ab%3A0x57051a5ba8efb1cd!2sRadomir!5e0!3m2!1sen!2sbg!4v1588254281571!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <div class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/43.1_vryh-golyam-perelik-rodopi.jpg" alt="">
                </div>
                <h3>43.Golyam Perelik</h3>
                <h4>Region: Smolyan</h4>
                <p>
                    If you have only heard about this church, but you haven’t visited it
                    <span id="dots">...</span> <span id="more">, then your first
                        impression as you approach is likely to be a little disappointment.The
                        Orthodox temple „St. Teodor Tiron and St. Teodor Stratilat” – is simple,
                        small and doesn’t attract attentioon.In fact, there is an
                        explanation of the construction of the church and it is quite logical.
                        According the existing official documents, the church was built in XVII century (1614),
                        and this is a period in which our country was under the Ottoman rule. According to the
                        Turkish laws that were applicable at that time, the Christian temples couldn’t be larger
                        and higher that the Turkish temples.
                        <img src="/images/101touristSites/43.2_vryh-golyam-perelik-rodopi.jpg" alt="">
                        For this reason, the local people from Dobarsko village dug the temple into the ground,
                        didn’t put a dome and a bell tower on it, and they observe the requirement for the small size.
                        Thus, when a Turk walked by the church, he wasn’t able to even notice it, because from the
                        outside it looked rather like a simple stone building with small dimensions (8.37 meters in
                        length, 6.5 meters width and 5.2 meters high at its highest part).
                    </span>
                </p>
            </div>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11933.223146564178!2d24.5655701346074!3d41.6058988179135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ac5c2c8c162f31%3A0xdec2400542f9b3d5!2sGolyam%20Perelik!5e0!3m2!1sen!2sbg!4v1588254351623!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/44.1_Chudnite_mostove-1.jpg_7362-1.jpg" alt="">
                </div>
                <h3>44.Chudnite mostove</h3>
                <h4>Region: Smolyan</h4>
                <p>Melnik (Bulgarian: Мелник, Greek: Μελένικο, Meleniko) is a town in Blagoevgrad Province, Southwestern
                    Bulgaria, in the Southwestern Pirin Mountains<span id="dots">...</span>
                    <span id="more">, about 440 m above sea level. The town is an
                        architectural reserve and 96 of its buildings are cultural monuments.With a population of 385,
                        it is the smallest town in Bulgaria, retaining its town status today for historical reasons.
                        It is situated on the foothills of the Pirin mountain range and is overlooked by the Melnik
                        Earth Pyramids.
                        <img src="/images/101touristSites/44.2_W-Bridges.jpg" alt="">
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2973.408453290143!2d24.57947241525262!3d41.81950207922682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acf266439aac17%3A0x6350096e6c3f5199!2sChudnite%20Mostove%20%2F%20Wonder%20Bridges!5e0!3m2!1sen!2sbg!4v1588254428809!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>

    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/45.1_sharenka.jpg" alt="">
                </div>
                <h3>45.Sharenka cave </h3>
                <h4>Region: Smolyan</h4>
                <p>
                    Rupite is a protected area, which is situated at a distance of about 10 km from Petrich and 2 km
                    from the village of Rupite<span id="dots">...</span>
                    <span id="more">, at the eastern foot of the extinct volcano Kozhuh Mountain (281 meters
                        altitude).The hill was built by volcanic rocks. Its name
                        comes from the fact that it looks like a mantle (kozhuh in Bulgarian).
                        The protected area of Rupite is famous for its healing mineral springs with a temperature of
                        74°C and capacity of up to 35 l/sec.
                        <img src="/images/101touristSites/45.2_peshtera-sharenka-rodopi.jpg" alt="">
                        The Church of St Petka was constructed at a site chosen by Baba Vanga in 1992 and has since then
                        become a place of worship for many people and a renowned tourist attraction. The icons were
                        created by the noted artist Svetlin Rusev and were not generally approved by the Holy Synod of
                        the Bulgarian Orthodox Church for being too realistic and not conforming to the canons.
                        The house of Vanga can seen nearby and a new monastery is currently under construction.
                    </span> </p>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2988.670522925021!2d24.915652515241398!3d41.489742179254904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14adad25c160c569%3A0xff8ebcded33da4f!2z0J_QtdGJ0LXRgNCwINCo0LDRgNC10L3QutCw!5e0!3m2!1sen!2sbg!4v1588254522374!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/46.1_trigradskoto jdrelo.jpg" alt="">
                </div>
                <h3>46.Trigrad Gorge</h3>
                <h4>Region: Smolyan</h4>
                <p>
                    Sandanski (Bulgarian: Сандански, formerly known as Sveti Vrach, Bulgarian: Свети Врач, until
                    1947[2]) is a town and<span id="dots">...</span>
                    <span id="more"> a recreation centre in south-western Bulgaria, part of Blagoevgrad Province.
                        Named after revolutionary Yane Sandanski, it is situated in a valley at the foot of Pirin
                        Mountains, along the banks of Sandanska Bistritsa River. Sandanski is about 20 km away
                        from Bulgaria-Greece border and 100 km away from Aegean sea.
                        <img src="/images/101touristSites/46.2_Trigradsko_jdrelo.jpg.jpg" alt="">
                    </span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2982.8860008575134!2d24.377605015245642!3d41.61497677924392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ac65aa76ff95ed%3A0x64723b91d1df6666!2sTrigrad%20Gorge!5e0!3m2!1sen!2sbg!4v1588254583625!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/47.1_qkodiskata peshtera.jpg" alt="">
                </div>
                <h3>47.Yagodina Cave</h3>
                <h4>Region: Smolyan</h4>
                <p>
                    Dospat (Bulgarian: Доспат) is a town in the very south of Bulgaria, part of Smolyan Province,
                    situated in the Rhodope Mountains<span id="dots">...</span>
                    <span id="more">, close to Dospat Dam. It is the administrative centre of the
                        homonymous Dospat Municipality.
                        <img src="/images/101touristSites/47.2_qgodiska-peshtera.jpg" alt="">
                        The town was probably founded by Despot Alexius Slav in the 12th or 13th century, from whose
                        title (despot) its name is very likely derived. Dospat Dam is the highest dam in Bulgaria
                        by altitude and, with its 22 km² of water area, the second largest in capacity. It is fed
                        by the River Dospat. At the bottom of the lake is a former German military airport from the
                        Second World War.</span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23857.784352420873!2d24.337072598973037!3d41.629310071514574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa6ff091032c05266!2sYagodinska%20Cave!5e0!3m2!1sen!2sbg!4v1588254662202!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/48.1_snejanka-tower-pamporovo.jpg" alt="">
                </div>
                <h3>48.Pamporovo/h3>
                    <h4>Region: Smolyan</h4>
                    <p>Nesebar (often transcribed as Nessebar and sometimes as Nesebur, Bulgarian: Несебър, pronounced
                        [nɛˈsɛbɐr]) is an <span id="dots">...</span>
                        <span id="more"> ancient city and one of the major seaside resorts on the Bulgarian Black Sea
                            Coast, located in Burgas Province.
                            It is the administrative centre of the homonymous Nesebar
                            Municipality. Often referred to as the "Pearl of the Black Sea", Nesebar is a rich
                            city-museum
                            defined by more than three millennia of ever-changing history. The small city exists in two
                            parts
                            separated by a narrow man-made isthmus with the ancient part of the settlement on the
                            peninsula
                            (previously an island), and the more modern section (i.e. hotels, later development) on the
                            mainland
                            side. The older part bears evidence of occupation by a variety of different civilisations
                            over
                            the
                            course of its existence.
                            <img src="/images/101touristSites/48.2_pamporovo.jpg" alt="">
                        </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11924.531974728634!2d24.685087684633086!3d41.65286846784912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ac5814e3baf27f%3A0xa00a014cd0f87e0!2z0J_QsNC80L_QvtGA0L7QstC-!5e0!3m2!1sen!2sbg!4v1588254705834!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>

    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/49.1_zlatograd.jpg" alt="">
                </div>
                <h3>49.Zlatograd</h3>
                <h4>Region: Smolyan</h4>
                <p>
                    Lake Pomorie (Bulgarian: Поморийско езеро, Pomoriysko ezero) is the northernmost of the coastal
                    Burgas Lakes, located in<span id="dots">...</span>
                    <span id="more">
                        the immediate proximity of the Black Sea and the Bulgarian town of Pomorie.
                        It has an area of 8.5 km² (reaching 10 km² together with the adjacent damp zones) and has an
                        elongated shape with a length of 6.7 km and width of 1.8–2 km. Divided from the sea by a narrow
                        strip of sand (spit) and an artificial dike, the lake is an ultrasaline natural lagoon.
                        Lake Pomorie is a protected area since January 2001. Sea salt is obtained in the north part and
                        curative mud in the south. Located on the Via Pontica bird migration route, the lake is
                        inhabited by
                        215 species of birds, 4 of which globally endangered, and is thus of ornithological importance.
                        <img src="/images/101touristSites/49.2_zlatograd.jpg" alt=""></span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23948.261152705214!2d25.083679548436105!3d41.38423762290645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14adba84665d07a9%3A0x4e79c6d538562be8!2s4980%20Zlatograd!5e0!3m2!1sen!2sbg!4v1588254786069!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/50.1_baba-vida-fortress.jpg" alt="">
                </div>
                <h3>50.Baba Vida Fortress</h3>
                <h4>Region: Vidin</h4>
                <p>
                    Petrova Niva (Bulgarian: Петрова нива, "Peter's field") is a historic area in the Strandzha
                    mountains of southeastern Bulgaria<span id="dots">...</span>
                    <span id="more"> where, between 11 and 13 July 1903, a group of Bulgarian Internal
                        Macedonian-Adrianople Revolutionary Organization (IMARO)
                        delegates announced the outbreak of an anti-Ottoman uprising aimed at liberating
                        southern Thrace from Ottoman rule and proclaimed the Strandzha Republic.
                        <img src="/images/101touristSites/50.2_baba-vida-fortress.jpg" alt="">
                        The area lies on the land of the village of Stoilovo in Malko Tarnovo municipality, Burgas
                        Province, within the territory of Strandzha Nature Park. It is among the 100 Tourist Sites
                        of Bulgaria; a monument to the event was built in the 1950s and a church dedicated to Saint
                        Petka was constructed in 2003 for the congress' centennial anniversary, as well as a museum.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2870.3656794956646!2d22.884264015328664!3d43.993165879111096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4753798d7c472e1d%3A0x9f1823d30e6ca936!2z4oCcQmFiYSBWaWRh4oCdIEZvcnRyZXNz!5e0!3m2!1sen!2sbg!4v1588254884315!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/51.1_Magura_-_drawings.jpg" alt="">
                </div>
                <h3>51.Magura Cave</h3>
                <h4>Region: Vratsa</h4>
                <p>
                    Sozopol (Bulgarian: Созопол, Greek: Σωζόπολη, Sozopoli) is an ancient seaside town located 35 km
                    south of Burgas on the southern Bulgarian Black Sea Coast.<span id="dots">...</span>
                    <span id="more">Today it is one of the major seaside
                        resorts in the country, known for the Apollonia art and film festival
                        (which takes place in early September) that is named after one of the town's ancient names.
                        <img src="/images/101touristSites/51.2_Magura_-_drawings.jpg" alt="">
                        The busiest times of the year are the summer months, ranging from May to September as tourists
                        from
                        around the world come to enjoy the weather, sandy beaches, history and culture, fusion cuisine
                        (Balkan and Mediterranean), and atmosphere of the colourful resort.
                        meters width and 5.2 meters high at its highest part).</span>
                    </span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2883.1586312246945!2d22.58071761531926!3d43.728031379118804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475489cebd879eab%3A0x68a50705733c2d4c!2sMagura%20Cave!5e0!3m2!1sen!2sbg!4v1588254934023!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/52.1_medjidi-tabia.jpg" alt="">
                </div>
                <h3>52.Medjidi tabia fortress</h3>
                <h4>Region: Silistra</h4>
                <p>Varna (Bulgarian: Варна, pronounced [ˈvarnɐ]) is the third-largest city in Bulgaria and the largest
                    city and seaside resort on the <span id="dots">...</span>
                    <span id="more"> Bulgarian Black Sea Coast. Situated strategically in the Gulf of
                        Varna, the city has been a major economic, social
                        and cultural centre for almost three millennia.
                        Varna, historically known as Odessos (Ancient Greek: Ὀδησσός), grew from a Thracian seaside
                        settlement to a major seaport on the Black Sea.
                        <img src="/images/101touristSites/52.2_medjidi-tabia.jpg" alt="">
                        Varna is an important centre for business, transportation, education, tourism, entertainment and
                        healthcare. The city is referred to as the maritime capital of Bulgaria and headquarters the
                        Bulgarian Navy and merchant marine. In 2008, Varna was designated the seat of the Black Sea
                        Euroregion by the Council of Europe.
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d11458.468741495777!2d27.24918853601148!3d44.111890415729896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sfortress%20near%20Medjidi%20Tabia!5e0!3m2!1sen!2sbg!4v1588255007434!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>

    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/53.1_belogradchik-rocks.jpg" alt="">
                </div>
                <h3>53.Belogradchik Rocks</h3>
                <h4>Region: Vidin</h4>
                <p>
                    Kaliakra (Bulgarian: Калиакра) is a long and narrow headland in the Southern Dobruja region of the
                    northern Bulgarian Black Sea Coast<span id="dots">...</span>
                    <span id="more">, 12 kilometres (7 mi) east of Kavarna, 60 kilometres (37 mi)
                        northeast of Varna and 65 kilometres (40 mi) southwest of Mangalia. The coast is steep with
                        vertical cliffs reaching 70 metres (230 ft) down to the sea.[1] Kaliakra is a nature reserve,
                        where dolphins and cormorants can be observed. It sits on the Via Pontica, a major bird
                        migration route from Africa into Eastern and Northern Europe.
                        <img src="/images/101touristSites/53.2_belogradchik-rocks.jpg" alt="">
                        Many rare and migrant birds can be seen here in spring and autumn
                        and, like much of this coastline, is home to several rare breeding birds (e.g. pied wheatear and
                        a local race of European shag). The rest of the reserve also has unusual breeding birds; saker
                        falcon, lesser grey shrike and a host of others.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.199458597601!2d22.675759815315484!3d43.6232073791223!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47548d44228ed4f3%3A0xa8d420934729a17e!2sBelogradchik%20Fortress!5e0!3m2!1sen!2sbg!4v1588255075534!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/54.1_peshtera-ledenika.jpg" alt="">
                </div>
                <h3>54.Ledenika Cave</h3>
                <h4>Region: Vratsa</h4>
                <p>
                    Aladzha Monastery (Bulgarian: Аладжа манастир) is a medieval Orthodox Christian cave monastery
                    complex in northeastern Bulgaria<span id="dots">...</span>
                    <span id="more">, 17 km north of central Varna and 3 km west of Golden Sands beach
                        resorta, in a protected forest area adjacent to the Golden Sands Nature Park.
                        The monastery caves were hewn into a 25-m high vertical karst cliff near the upper edge of the
                        Franga Plateau on several levels.
                        <img src="/images/101touristSites/54.2_peshtera-ledenika.jpg" alt="">
                        The complex includes two small nearby catacombs. Dedicated to the Holy Trinity, it was an
                        active hesychast monastic community of the Second Bulgarian Empire since the 12th century
                        and perhaps survived until the early 18th century. Nearby, remains of a 5th-century cave
                        monastery have been found.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2908.2408944770755!2d23.488911715300674!3d43.20443647913921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40ab23ca0afe52bf%3A0x40f1bf3a3ca69ce7!2sLedenika%20Cave!5e0!3m2!1sen!2sbg!4v1588255152809!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/55.1_okolchica-peak.jpg" alt="">
                </div>
                <h3>55.Okolchica Peak</h3>
                <h4>Region: Vratsa</h4>
                <p>
                    The Balchik Palace (Bulgarian: Дворец в Балчик, Dvorets v Balchik; Romanian: Castelul din Balcic) is
                    a palace in the Bulgarian Black Sea <span id="dots">...</span>
                    <span id="more">
                        town and resort of Balchik in Southern Dobruja.
                        <img src="/images/101touristSites/55.2_okolchica-peak.jpg.jpg" alt="">
                        The official name of the palace was the Quiet Nest Palace. It was constructed between 1926 and
                        1937, during the Romanian control of the region, for the needs of Queen Marie of Romania.
                        The palace complex consists of a number of residential villas, a smoking hall, a wine cellar,
                        a power station, a monastery,a holy spring, a chapel and many other buildings, as well as most
                        notably a park that is today a state-run botanical garden. Balchik Palace is 17 metres (56 ft)
                        above sea level.
                    </span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11643.148527724363!2d23.571245235465287!3d43.150999116265496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40ab1c3a7b7639e5%3A0x1d00a0134f964d20!2z0J7QutC-0LvRh9C40YbQsA!5e0!3m2!1sen!2sbg!4v1588255295897!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/56.1_kaleto-mezdra.jpg" alt="">
                </div>
                <h3>56.Kaleto, Mezdra</h3>
                <h4>Region: Montana</h4>
                <p>Albena (Bulgarian: Албена) is a major Black Sea resort in northeastern Bulgaria, situated 12 km (7
                    mi) from Balchik <span id="dots">...</span>
                    <span id="more">
                        and 30 km (19 mi) from Varna. Albena is served by Varna Airport.
                        Albena is one of the purpose-built resorts on the Bulgarian Black Sea coast and has a uniform
                        and unique architectural style.
                        <img src="/images/101touristSites/56.2_kaleto-mezdra.jpg" alt="">
                        The resort is 5-km long, 150 m wide beach with fine sand. Sea depth does not exceed 1.6 metres
                        at a distance up to 100–150 metres from the beach. The tourist season lasts from May till
                        October. The resort is named after a female character from a tale by Bulgarian writer
                        Yordan Yovkov. Albena is a Bulgarian female given name.
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2911.3096301669634!2d23.702006315298455!3d43.14002697914225!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40ab036911effc49%3A0xa2b60948e460ebfd!2sArchaeological%20complex%20%22Citadel%22!5e0!3m2!1sen!2sbg!4v1588255373408!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>

    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/57.1_vruh_botev.jpg" alt="">
                </div>
                <h3>57.Botev Peak</h3>
                <h4>Region: Lovech</h4>
                <p>
                    Tsarevets (Bulgarian: Царевец, romanized: Carevec) is a medieval stronghold located on a hill with
                    the same name<span id="dots">...</span>
                    <span id="more">
                        in Veliko Tarnovo in northern Bulgaria.Tsarevets is 206 metres (676 ft) above sea
                        level. It served as the Second Bulgarian Empire's primary fortress and strongest bulwark between
                        1185 and 1393, housing the royal and the patriarchal palaces, and it is also a popular tourist
                        attraction.
                        <img src="/images/101touristSites/57.2_vrah-botev.jpg" alt="">
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11725.396804823033!2d24.907911835222045!3d42.717499116630044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a9a20849d7dee5%3A0x1d00a0134f9647d0!2sBotev%20Peak!5e0!3m2!1sen!2sbg!4v1588255462997!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/58.2_etura.jpg" alt="">
                </div>
                <h3>58.Etura, Gabrovo</h3>
                <h4>Region: Gabrovo</h4>
                <p>
                    Nicopolis ad Istrum (Greek: Νικόπολις ἡ πρὸς Ἴστρον) or Nicopolis ad Iatrum[1][2] was a Roman and
                    Early Byzantine town.<span id="dots">...</span>
                    <span id="more">
                        Its ruins are located at the village of Nikyup,[3] 20 km north of Veliko Tarnovo in northern
                        Bulgaria. The town reached its zenith during the reigns of Hadrian, the Antonines and the
                        Severan dynasty.
                        <img src="/images/101touristSites/58.1_gabrovo.jpg" alt="">
                        Archaeological excavations are continuing to reveal more of the city.The site was placed on
                        the Tentative List for consideration as a World Heritage Site by UNESCO in 1984.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2927.2841964535073!2d25.347005915286623!3d42.80348007915955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a90479b6649131%3A0x6a53868a65e1bc7!2sEthno%20village%20Etar!5e0!3m2!1sen!2sbg!4v1588255533864!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/59.1_bojenci.jpg" alt="">
                </div>
                <h3>59.Bozhentsi</h3>
                <h4>Region: Gabrovo</h4>
                <p>
                    Arbanasi (Bulgarian: Арбанаси, also transliterated as Arbanassi) is a village in Veliko Tarnovo
                    Municipality<span id="dots">...</span>
                    <span id="more">, Veliko Tarnovo Province of central northern Bulgaria, set on a high plateau
                        between the larger towns of Veliko Tarnovo (four kilometres away) and Gorna Oryahovitsa.
                        It is known for the rich history and large number of historical monuments, such as 17th- and
                        18th-century churches and examples of Bulgarian National Revival architecture, which have
                        turned it into a popular tourist destination.
                        <img src="/images/101touristSites/59.2_bojenci.jpg" alt="">
                    </span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5847.870767882281!2d25.419744376269684!3d42.87420796662286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a91c7d898b67d5%3A0xa00a014cd0fa300!2s5349%20Bojentsi!5e0!3m2!1sen!2sbg!4v1588255709428!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/60.1_trqvna.jpg" alt="">
                </div>
                <h3>60.Tryavna</h3>
                <h4>Region: Gabrovo</h4>
                <p>Elena (Bulgarian: Елена) is a Bulgarian town in the central Stara Planina mountain in Veliko Tarnovo
                    Province<span id="dots">...</span>
                    <span id="more">, located 42 km southeast of Veliko Tarnovo.
                        It is the administrative centre of the homonymous Elena Municipality. The area is also a
                        mountain resort, known for the typical local cuisine. As of December 2009, the town has a
                        population of 5,665 inhabitants.[1] It forms a terminal for the Gorna Oryahovitsa-Elena railway
                        line.
                        <img src="/images/101touristSites/60.2_trqvna.jpg" alt="">
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23392.65281498252!2d25.47602245173315!3d42.87112176595801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a8e296d66cc345%3A0x400a01269bf5040!2sTryavna!5e0!3m2!1sen!2sbg!4v1588255763151!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>

    <div class="change_btn_section">
        <a href="#/tourist101sites/tourist101sites">1</a>
        <a class="curent sidespage" href="#/tourist101sites/tourist101sites2">2</a>
        <a href="#/tourist101sites/tourist101sites3">3</a>
        <a href="#/tourist101sites/tourist101sites4">4</a>
        <a href="#/tourist101sites/tourist101sites5">5</a>
    </div>
</section>

{{> footer}}