{{> header}}
<div class="change_btn_section">
    <a href="#/tourist101sites/tourist101sites">1</a>
    <a class="curent_sidespage" href="#/tourist101sites/tourist101sites2">2</a>
    <a href="#/tourist101sites/tourist101sites3">3</a>
    <a href="#/tourist101sites/tourist101sites4">4</a>
    <a href="#/tourist101sites/tourist101sites5">5</a>
</div>
<section class="sites">
    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/21.1_smolqn.jpg" alt="">
                </div>
                <h3>21.Smolyan, Planetarium</h3>
                <h4>Region: Smolyan</h4>
                <p>
                    Smolyan (Bulgarian: Смолян) is a town and ski resort in the far south of Bulgaria near the border
                    with Greece. It is the <span id="dots">...</span>
                    <span id="more">
                        administrative and industrial centre of the homonymous Smolyan Province. The
                        town is situated in the valley of the Cherna ("Black") and the Byala ("White") Rivers in the
                        central Rhodopes at the foot of the mountains' highest part south of the popular ski resorts
                        Pamporovo and Chepelare. On September 6th 1975, the biggest Planetarium with public observatory
                        in Bulgaria opened its doors in the town of Smolyan.
                        <img src="/images/101touristSites/21.2_planetarium.jpg" alt="">
                        The Planetarium is the town's most frequently visited place of interest. For the past 40 years
                        it has been visited by 2,750,000 people.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47752.72784629606!2d24.706135579902067!3d41.57908048708611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ac598ad0d361bb%3A0x400a01269bf5a80!2sSmolyan!5e0!3m2!1sen!2sbg!4v1588191727950!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/22.1_mg-6913-kovatchevitza.jpg" alt="">
                </div>
                <h3>22.Kovachevitsa</h3>
                <h4>Region: Blagoevgrad</h4>
                <p>
                    The village is situated in the Dabrash part of the Rhodope Mountains in the steep valley of the
                    Kanina river, <span id="dots">...</span>
                    <span id="more">
                        9 kilometers north of Garmen, 71 kilometers southeast of Blagoevgrad
                        and 119 kilometers southeast of Sofia.
                        <img src="/images/101touristSites/22.2_Kovachevitsa_street_and_houses.jpg" alt="">
                        The village was founded by refugees from different villages, who tried to escape the Ottoman
                        assimilation in the 17th century. The isolated location and the fresh water supply were the most
                        important factors in this process. The village has never had Ottoman administration, therefore
                        it preserved the Bulgarian traditions.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5959.354436627447!2d23.822274526311094!3d41.68431401695204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ab97132c3ffd0d%3A0xa00a014cd0f9f10!2s2969%20Kovachevitsa!5e0!3m2!1sen!2sbg!4v1588191825927!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/23.1_Saparevo-church-Uspenie.jpg" alt="">
                </div>
                <h3>23.Saparevo village</h3>
                <h4>Region: Kyustendil</h4>
                <p>
                    The Church of the Holy Virgin in village of Saparevo is a reduction of the church in the Rila
                    Monastery and was built in 1861 - 1864 year<span id="dots">...</span> <span id="more">
                        by masters from Tran. The woodcarving and icons are done
                        by masters from the Bansko-Razlog school and in their works they also following models from the
                        Rila Monastery.
                        <img src="/images/101touristSites/23.2_Saparevo-church-Uspenie.jpg" alt="">
                        The church is very beautiful. Its central dome is supported by four columns, which are crowned
                        with gilded images.</span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11803.350481289872!2d23.282892333235214!3d42.30333011704957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aade7e95683209%3A0x57952dad6d0060b8!2s2645%20Saparevo!5e0!3m2!1sen!2sbg!4v1588192432130!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/24.1-madarski-konnik.jpg" alt="">
                </div>
                <h3>24.Madara Horseman</h3>
                <h4>Region: Shumen</h4>
                <p>The Madara Rider or Madara Horseman[1] (Bulgarian: Мадарски конник, Madarski konnik) is an early
                    medieval large rock relief carved on the Madara Plateau<span id="dots">...</span>
                    <span id="more"> east of Shumen in northeastern Bulgaria,
                        near the village of Madara. The monument is dated in the very late 7th,[2] or more often very
                        early 8th century, during the reign of Bulgar Khan Tervel.The relief depicts a majestic
                        horseman 23 m (75 ft) above ground level in an almost
                        vertical 100 m (328 ft)-high cliff. It is of almost natural size.[3] The horseman, facing right,
                        is thrusting a spear into a lion lying at his horse's feet, and on the left a dog is running
                        after the horseman.[5] The carving of the horseman's halo and garments, as well as the bird in
                        front of the horseman's face, are barely recognizable due to the erosion and bad condition of
                        the monument.[6] The relief is similar to the carbon images found in Saltovo, Soulek, Pliska and
                        Veliki Preslav.[1]
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2904.7603955393265!2d27.116731515195173!3d43.27739527913599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a58fc5722e651f%3A0xe33a2485fa8f1a1e!2sMadara%20Horseman!5e0!3m2!1sen!2sbg!4v1588192620248!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>
    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/25.1_veliki preslav.jpg" alt="">
                </div>
                <h3>25.Veliki Preslav</h3>
                <h4>Region: Shumen</h4>
                <p>
                    The name of Preslav is of Slavic origin; apparently it was initially founded and functioned as a
                    Slavic settlement until its<span id="dots">...</span>
                    <span id="more"> fortification at the beginning of the 9th century. The proximity to the
                        then Bulgarian capital of Pliska led to the fast development and expansion of Preslav during the
                        reign of the Khans Krum and Omurtag. By the time of the coronation of Khan Boris I in 852,
                        Preslav had turned into an important strategic military centre and was the seat of the
                        Ichirgu-boil. A number of churches were built in the city after the conversion of the
                        Bulgarians to Christianity in 864.
                        <img src="/images/101touristSites/25.2_veliki preslav.jpg" alt="">
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23280.204641556888!2d26.80143874547227!3d43.16698721500248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a5f68fcb81ef3b%3A0x400a01269bf5920!2sVeliki%20Preslav!5e0!3m2!1sen!2sbg!4v1588194774768!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/26.2_Pliska-Bazilika.jpg" alt="">
                </div>
                <h3>26.Pliska</h3>
                <h4>Region: Shumen</h4>
                <p>
                    Pliska was the capital of the First Bulgarian Empire between 681 and 893 AD. According to a
                    Bulgarian chronicle, it was founded by id="dots">...</span>
                    <span id="more"> Khan Asparukh. At its greatest extent, it had an area of 21.8
                        km² and was surrounded by earthen ramparts.[3] A smaller stone fortification was built inside
                        these ramparts and this contained a palace and buildings belonging to the aristocracy.
                        <img src="/images/101touristSites/26.1_pliska.jpg" alt="">
                        The ruins of the city of Pliska lie 3 km north of the modern village of Pliska. The site of the
                        city is currently a National Archaeological Reserve. Ruins of the Great and the Small Palace,
                        the strong stone fortifications and the Great Basilica (c. 875), used both as a royal church and
                        as a national patriarchal cathedral, can be seen in the reserve.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11602.448030285415!2d27.11422918385926!3d43.364225816114086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a585d067178ae3%3A0xa00a014cd0d8a60!2s9920%20Pliska!5e0!3m2!1sen!2sbg!4v1588196214368!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/27.2_The_fortress_of_Shumen.jpg" alt="">
                </div>
                <h3>27.Shumen Fortress</h3>
                <h4>Region: Shumen</h4>
                <p>
                    The Shumen fortress (Bulgarian: Шуменска крепост, Shumenska krepost) is an archaeological site
                    overlooking the city of Shumen in north-eastern Bulgaria.<span id="dots">...</span> <span id="more">
                        It is an ancient fortress with historical links to a village nearby traced to early Iron Age and
                        later owned by the Thracians in the 5th century BC.
                        <img src="/images/101touristSites/27.1_shumenska_kr.jpg" alt="">
                        Then, from 2nd to 4th centuries AD, it was
                        controlled by the Romans who built towers and walls, and it was refurbished by the Byzantines as
                        their garrison town. Shumen thrived in the Middle Ages as an important stronghold of the
                        Bulgarian
                        Empire. In 1444 the fort was destroyed by the Ottomans after their victory in the Battle of
                        Varna
                        over a Christian army under Władysław III of Poland. The fortress remained deserted ever since.
                    </span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.46671496235!2d26.89235821519461!3d43.262597279136536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a58a9964edb073%3A0x1094fd801fdef66a!2zU2h1bWVuIEZvcnRyZXNzLCDQqNGD0LzQtdC90YHQutC-INC_0LvQsNGC0L4sIDk3MDAgU2h1bWVu!5e0!3m2!1sen!2sbg!4v1588196332066!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/28.1_sumen pametnik.jpg" alt="">
                </div>
                <h3>28.Monument to 1300 Years of Bulgaria</h3>
                <h4>Region: Shumen</h4>
                <p>The Monument to 1300 Years of Bulgaria (Bulgarian: Паметник 1300 години България), also known as the
                    Founders of the Bulgarian State Monument<span id="dots">...</span>
                    <span id="more"> (Паметник на създателите на Българската държава), is a
                        large monument built on a plateau above the city of Shumen, Bulgaria. It was built in 1981 to
                        commemorate the 1300th anniversary of the First Bulgarian Empire.
                        The monument is built in concrete in a Cubist style, and designed by Bulgarian sculptors Krum
                        Damyanov and Ivan Slavov. It is reached by a processional concrete stairway from Shumen, or by
                        road.[2] It stands at a height of 450 m above sea level and can be seen from 30 km away.[3]
                        <img src="/images/101touristSites/28.2_sumen pametnik.jpg" alt="">
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.501166822637!2d26.92074681519469!3d43.26187537913671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a58af18efaf5d5%3A0xa60b88a05b941a9b!2sFounders%20of%20the%20Bulgarian%20State%20Monument!5e0!3m2!1sen!2sbg!4v1588196767735!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>
    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/29.1_aleksandrovka-grobnica.jpg" alt="">
                </div>
                <h3>29.Thracian tomb of Aleksandrovo</h3>
                <h4>Region: Haskovo</h4>
                <p>
                    The Aleksandrovo tomb is a Thracian burial mound and tomb excavated near Aleksandrovo, Haskovo
                    Province, South-Eastern Bulgaria <span id="dots">...</span>
                    <span id="more">, dated to c. 4th century BCE.
                        On December 17, 2000 the tomb was accidentally uncovered by an earth-moving machine.[1] Looters
                        subsequently entered the tomb, damaging some of its frescoes. In 2001 Bulgarian archaeologist
                        Georgi Kitov led a rescue excavation of the tomb, discovering a round chamber of about 3
                        meters (9.8 ft) in diameter, accessible through a small antechamber and a tunnel,
                        approximately 6 meters (20 ft) long.
                        <img src="/images/101touristSites/29.2_tomb-of-alexandrovo-Bulgaria.jpg" alt="">
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.883225864467!2d25.736555415405135!3d41.981316879214035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b2ab740a87c2d1%3A0xf2a5b862bbadcc6e!2sThracian%20tomb%20of%20Aleksandrovo!5e0!3m2!1sen!2sbg!4v1588230759135!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/30.1_mezek-tomb.jpg" alt="">
                </div>
                <h3>30.Mezek Thracian Tomb</h3>
                <h4>Region: Haskovo</h4>
                <p>
                    The Mezek Thracian Tomb is located near the Mezek (Neoutzikon) Fortress in the town of Mezek,
                    Bulgaria. It dates to the 4th century BC.<span id="dots">...</span>
                    <span id="more"> It consists of a round burial chamber shaped as a beehive
                        and containing a stone sarcophagus, two rectangular antechambers, and a covered 20-meter
                        passage. With a combined length of 32 meters, it is said to be the longest tomb on the Balkan
                        Peninsula.The archaeologists have found traces of six burials of Ancient Thracian
                        aristocrats in the Mezek Tomb whose inventory included gold, silver, bronze, iron, glass,
                        and pottery artifacts that are now part of the collection of the National Institute and
                        Museum of Archaeology in Sofia.
                        <img src="/images/101touristSites/30.2_mezek-fort.jpg" alt="">
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2977.3200786947064!2d26.099593315397303!3d41.73518847923374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b2c6f73fa7d841%3A0x595be705980d4ca5!2sThracian%20tomb!5e0!3m2!1sen!2sbg!4v1588230965235!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/31.1_haskovo.jpg" alt="">
                </div>
                <h3>31.Haskovo</h3>
                <h4>Region: Haskovo</h4>
                <p>
                    Haskovo (Bulgarian: Хасково) is a city in the region of Northern Thrace in southern Bulgaria and the
                    administrative centre of the Haskovo Province <span id="dots">...</span> <span id="more">
                        , not far from the borders with Greece and Turkey.
                        According to Operative Program Regional Development of Bulgaria, the urban area of Haskovo is
                        the seventh largest in Bulgaria and has a population of 184,731 inhabitants.
                        The first settlement found in Haskovo is from circa 5000 BC. Haskovo celebrated its 1,000th
                        anniversary as a town in 1985. To mark the event, a new clock tower was erected in the centre of
                        the town.
                        <img src="/images/101touristSites/31.2_haskovo-kenana.jpg" alt="">
                    </span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47490.29320610757!2d25.513639007475053!3d41.932771479629395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ad50d3362d8d77%3A0xf260d9e68937b3fc!2sHaskovo!5e0!3m2!1sen!2sbg!4v1588231255807!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/32.1_misionis-otvisoko-1000x500.jpg" alt="">
                </div>
                <h3>32.Misionis fortress</h3>
                <h4>Region: Targovishte</h4>
                <p>
                    Misionis was a large ancient town and fortress. It is located 7 km away of town of Targovishte in
                    region Krumovo Kale, on the <span id="dots">...</span>
                    <span id="more">northern edge of the steep gorge of the river Vrana in Preslav
                        Mountains. The catsle dating back to V-VI century.
                        <img src="/images/101touristSites/32.2_misionis-otvisoko-1000x500.jpg" alt="">
                        After excavations there were found remains of fortress walls 3-4 meters in height, remains of a
                        large church, guard and residential buildings.Probably the fortress Misionis existed until the
                        end of the XIV century and was destroyed during the Ottoman invasion.
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2908.547254241033!2d26.510404415444572!3d43.198009779139596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40af45757ef37a07%3A0x8f7a8008780e8a1a!2sMisionis!5e0!3m2!1sen!2sbg!4v1588231716018!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>
    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/33.2_ruskata_tsurkva_shipka_1.jpg" alt="">
                </div>
                <h3>33.Shipka Memorial Church</h3>
                <h4>Region: Stara Zagora</h4>
                <p>
                    The Memorial Temple of the Birth of Christ (Bulgarian: Храм-паметник „Рождество Христово“,
                    Hram-pametnik „Rozhdestvo Hristovo“), better <span id="dots">...</span>
                    <span id="more">known as the Shipka Memorial Church or Shipka Monastery
                        is a Bulgarian Orthodox church built near the town of Shipka in Stara Planina between 1885 and
                        1902 to Antoniy Tomishko's design in the seventeenth-century Muscovite style, under the
                        direction of architect Alexander Pomerantsev. It is, together with the other parts of the
                        Shipka Monument complex, dedicated to the Russian, Ukrainian and Bulgarian soldiers that
                        died for the liberation of Bulgaria in the Russo-Turkish War, 1877-78.
                        <img src="/images/101touristSites/33.1_ruskata_tsurkva_shipka_1.jpg" alt="">
                        The temple was officially opened on September 28/1902 in the presence of Russian Army generals
                        and many honourable guests. The opening and consecration of the Shipka Memorial Church coincided
                        with the 25-year anniversary of the Battles of Shipka Pass. In 1970, the temple was proclaimed a
                        national monument of culture.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2931.4100421064077!2d25.32676941542886!3d42.71621117916463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a9007b71608fcd%3A0x4aca5f9133c6d6b3!2sShipka%20Memorial%20Church!5e0!3m2!1sen!2sbg!4v1588232087232!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/34.1_Shipka.jpg" alt="">
                </div>
                <h3>34.Shipka </h3>
                <h4>Region: Stara Zagora</h4>
                <p>
                    It was opened with a ceremony in 1934 and designed by architect Atanas Donkov and sculptor
                    Aleksandar Andreev.[2] An important influenc <span id="dots">...</span>
                    <span id="more">e was the Monument to the Battle of the Nations in
                        Germany.Another view of the memorial.The monument is a 31.5-metre (98-foot) high stone
                        tower in the form of a truncated pyramid. A giantмbronze lion, 8 m (26 feet) long and
                        4 m (13 feet) high, stands above the entrance to the tower,and a figure of a woman
                        represents the victory over the Ottoman forces. A marble sarcophagus housing
                        some of the remains of the Russian and Bulgarian casualties is on the first floor. There are
                        four other floors where one can find replica of Bulgarian military flags and other relics.
                        The top of the tower reveals a panorama of Shipka Peak and the surrounding area.
                        <img src="/images/101touristSites/34.2_Shipka.jpg" alt="">
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2929.9028658645275!2d25.319294415429916!3d42.74810727916285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a90120665e548f%3A0x55b95d24f56b6147!2sMonument%20to%20Freedom%2C%20Stoletov%20peak!5e0!3m2!1sen!2sbg!4v1588232587028!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/35.1_kazanluk.jpg" alt="">
                </div>
                <h3>35.Kazanluk</h3>
                <h4>Region: Stara Zagora</h4>
                <p>
                    Kazanlak (Bulgarian: Казанлъ̀к, Kazanlǎk, Thracian and Greek Σευθόπολις (Seuthopolis), Turkish:
                    Kazanlık) is a Bulgarian town in Stara Zagora Province <span id="dots">...</span> <span id="more">,
                        located in the middle of the plain of the
                        same name, at the foot of the Balkan mountain range, at the eastern end of the Rose Valley. It
                        is the administrative centre of the homonymous Kazanlak Municipality.
                        The town is among the 15 biggest industrial centres in Bulgaria, with a population of 44,760
                        people as of Dec 2017.<img src="/images/101touristSites/35.2_kazanluk.jpg" alt="">
                        It is the center of rose oil extraction in Bulgaria and the oil-producing rose of Kazanlak is
                        one of the most widely recognizable national symbols.
                    </span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46971.28346111342!2d25.37858546326272!3d42.62520746736534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a854039745e71f%3A0xe93f825ff853e53d!2sKazanluk!5e0!3m2!1sen!2sbg!4v1588232755826!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/36.1_cari-mali-grad.jpg" alt="">
                </div>
                <h3>36.Cari mali grad</h3>
                <h4>Region: Sofia Province</h4>
                <p>

                    Tsari Mali grad is a late antique Roman fortress and a fortified settlement in southwestern
                    Bulgaria, Sofia Province, Samokov Municipality <span id="dots">...</span>
                    <span id="more">. It is located on the hill St. Spas in Mount Verila,
                        above Belchin village. Archaeologically researched in the period 2007 - 2010.
                        <img src="/images/101touristSites/36.2_cari-mali-grad.jpg" alt="">
                        The earliest traces of human activity on Mount St. The salvation dates back to the early Iron
                        Age (VIII - VI century BC). Numerous pits of cult character were discovered, indicating that the
                        site was used by the local Thracian population as a sanctuary.
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.434955037129!2d23.380243815417217!3d42.35456887918733!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ab277d628754a7%3A0x56e79470ebdba178!2sTsari%20Mali%20Grad!5e0!3m2!1sen!2sbg!4v1588233156681!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>
    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/37.1_sedemte-prestola.jpg" alt="">
                </div>
                <h3>37.Seven Altars Monastery</h3>
                <h4>Region: Vratsa</h4>
                <p>
                    The Seven Altars (Bulgarian: Седемте престола, Sedemte prestola), officially the Monastery of the
                    Most Holy Mother of God (Bulgarian: Манастир „Света Богородица“<span id="dots">...</span>
                    <span id="more">, Manastir „Sveta Bogoroditsa“) is a
                        Bulgarian Orthodox monastery of the Eparchy of Sofia, situated in the western Balkan Mountains,
                        on the border between Sofia Province and Vratsa Province.
                        <img src="/images/101touristSites/37.2_7-te_prestola_beckreisen1.jpg" alt="">
                        It is located in the valley of the Gabrovnitsa River, on the way from Eliseyna through
                        the Iskar Gorge to the village of Osenovlag, Sofia Province, at the foot of Izdremets
                        Peak (1492 m). It is one of the 100 Tourist Sites of Bulgaria.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2917.9771699842777!2d23.47038531543811!3d42.99981527914919!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aae53faff3dfaf%3A0xf04984b5c8642738!2s%22Sedemte%20Prestola%22%20Monastery!5e0!3m2!1sen!2sbg!4v1588233419135!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/38.1_koprivshtica.jpg" alt="">
                </div>
                <h3>38.Koprivshtica</h3>
                <h4>Region: Sofia province</h4>
                <p>
                    Koprivshtitsa (Bulgarian: Копривщица, pronounced [koˈprifʃtit͡sɐ]], from the Bulgarian word
                    коприва, kopriva, meaning "nettle") is a historic town <span id="dots">...</span>
                    <span id="more">in the Koprivshtitsa Municipality in
                        Sofia Province, central Bulgaria, lying on the Topolnitsa River among the Sredna Gora mountains.
                        It was one of the centres of the April uprising in 1876 and is known for its authentic Bulgarian
                        architecture and for its folk music festivals, making it a very popular tourist destination.
                        <img src="/images/101touristSites/38.2_koprivshtica.jpg" alt="">
                        Koprivshtitsa is one of the most characteristic Bulgarian towns, still preserving the atmosphere
                        of the Bulgarian National Revival period of the 19th century. The town is huddled in the
                        mountain-folds, 111 km east of Sofia.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11740.710294386136!2d24.35218458750356!3d42.636395316706896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a9f54c5fa79717%3A0x400a01269bf57d0!2s2077%20Koprivshtitsa!5e0!3m2!1sen!2sbg!4v1588233877045!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/39.1_heraclea-sintica.jpg" alt="">
                </div>
                <h3>39.Heraclea sintica</h3>
                <h4>Region: Blagoevgrad</h4>
                <p>
                    Heraclea Sintica, Heracleia Sintica, Хераклея Синтика in Bulgarian or Herakleia Sintike (Ancient
                    Greek: Ἡράκλεια Σιντική),[1] or Heraclea ex Sintiis<span id="dots">...</span> <span id="more">
                        ,also known as Heraclea Strymonus or
                        Herakleia Strymonos (Ἡράκλεια Στρυμόνος), 'Heraclea on the Strymon river'), was an ancient Greek
                        polis[3] built by Philip II of Macedon.[4] It was located in Thracian lands of the Ancient
                        kingdom of Macedon, in the region of Sintice, on the right bank of the Strymon river.
                        It was connected with Philippi by the Roman road that passed round the north side of the lake,
                        at a distance of 55 M.P.,
                        and by that which passed on the south side, at a distance of 52 M.P.[5]
                        <img src="/images/101touristSites/39.2_heraclea-sintica.jpg" alt="">
                        The general Asclepiodotus of Heraclea was a native. Demetrius, son of Philip V of Macedon, was
                        slain
                        at Heraclea Sintica.[6] Coins minted here in antiquity have survived.[7]
                        Its site is near the modern village of Rupite, Bulgaria.
                    </span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2990.5184002618544!2d23.26236861538827!3d41.44967047925863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aa2eb597783381%3A0xf8481a8e0139dda!2sHeraclea%20Sintica!5e0!3m2!1sen!2sbg!4v1588234111552!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/40.1_carevo.jpg" alt="">
                </div>
                <h3>40.Tsarevo</h3>
                <h4>Region: Burgas</h4>
                <p>
                    Tsarevo (Bulgarian: Царево, also transliterated as Carevo or Tzarevo) is a town and seaside resort
                    in the Municipality of Tsarevo, Burgas Province<span id="dots">...</span>
                    <span id="more">, Bulgaria. In the past, it was known as Vasiliko
                        (Greek: Βασιλικόν) and Michurin (Bulgarian: Мичурин). It lies on a cove 70 km southeast of
                        Burgas, on the southern Bulgarian Black Sea Coast at the eastern foot of Strandzha mountain,
                        at a few kilometers from Strandzha Nature Park. As of December 2009, the town has a population
                        of 5,884 inhabitants.
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11828.441310716276!2d27.84311033726152!3d42.16932156720054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a128d5d51cc979%3A0xa1b32d66b2232bb!2sTsarevo!5e0!3m2!1sen!2sbg!4v1588234300677!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>
</section>
<div class="change_btn_section">
    <a href="#/tourist101sites/tourist101sites">1</a>
    <a class="curent_sidespage" href="#/tourist101sites/tourist101sites2">2</a>
    <a href="#/tourist101sites/tourist101sites3">3</a>
    <a href="#/tourist101sites/tourist101sites4">4</a>
    <a href="#/tourist101sites/tourist101sites5">5</a>
</div>

{{> footer}}