{{> header}}

<section class="sites">
    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/21.1_smolqn.jpg" alt="">
                </div>
                <h3>21.Smolyan, Planetarium</h3>
                <h4>Region: Smolyan</h4>
                <p>
                    Smolyan (Bulgarian: Смолян) is a town and ski resort in the far south of Bulgaria near the border
                    with Greece. It is the <span id="dots">...</span>
                    <span id="more">
                        administrative and industrial centre of the homonymous Smolyan Province. The
                        town is situated in the valley of the Cherna ("Black") and the Byala ("White") Rivers in the
                        central Rhodopes at the foot of the mountains' highest part south of the popular ski resorts
                        Pamporovo and Chepelare. On September 6th 1975, the biggest Planetarium with public observatory
                        in Bulgaria opened its doors in the town of Smolyan.
                        <img src="/images/101touristSites/21.2_planetarium.jpg" alt="">
                        The Planetarium is the town's most frequently visited place of interest. For the past 40 years
                        it has been visited by 2,750,000 people.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47752.72784629606!2d24.706135579902067!3d41.57908048708611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ac598ad0d361bb%3A0x400a01269bf5a80!2sSmolyan!5e0!3m2!1sen!2sbg!4v1588191727950!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/22.1_mg-6913-kovatchevitza.jpg" alt="">
                </div>
                <h3>22.Kovachevitsa</h3>
                <h4>Region: Blagoevgrad</h4>
                <p>
                    The village is situated in the Dabrash part of the Rhodope Mountains in the steep valley of the
                    Kanina river, <span id="dots">...</span>
                    <span id="more">
                        9 kilometers north of Garmen, 71 kilometers southeast of Blagoevgrad
                        and 119 kilometers southeast of Sofia.
                        <img src="/images/101touristSites/22.2_Kovachevitsa_street_and_houses.jpg" alt="">
                        The village was founded by refugees from different villages, who tried to escape the Ottoman
                        assimilation in the 17th century. The isolated location and the fresh water supply were the most
                        important factors in this process. The village has never had Ottoman administration, therefore
                        it preserved the Bulgarian traditions.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5959.354436627447!2d23.822274526311094!3d41.68431401695204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ab97132c3ffd0d%3A0xa00a014cd0f9f10!2s2969%20Kovachevitsa!5e0!3m2!1sen!2sbg!4v1588191825927!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/23.1_Saparevo-church-Uspenie.jpg" alt="">
                </div>
                <h3>23.Saparevo village</h3>
                <h4>Region: Kyustendil</h4>
                <p>
                    The Church of the Holy Virgin in village of Saparevo is a reduction of the church in the Rila
                    Monastery and was built in 1861 - 1864 year<span id="dots">...</span> <span id="more">
                        by masters from Tran. The woodcarving and icons are done
                        by masters from the Bansko-Razlog school and in their works they also following models from the
                        Rila Monastery.
                        <img src="/images/101touristSites/23.2_Saparevo-church-Uspenie.jpg" alt="">
                        The church is very beautiful. Its central dome is supported by four columns, which are crowned
                        with gilded images.</span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11803.350481289872!2d23.282892333235214!3d42.30333011704957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aade7e95683209%3A0x57952dad6d0060b8!2s2645%20Saparevo!5e0!3m2!1sen!2sbg!4v1588192432130!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/24.1-madarski-konnik.jpg" alt="">
                </div>
                <h3>24.Madara Horseman</h3>
                <h4>Region: Shumen</h4>
                <p>The Madara Rider or Madara Horseman[1] (Bulgarian: Мадарски конник, Madarski konnik) is an early
                    medieval large rock relief carved on the Madara Plateau<span id="dots">...</span>
                    <span id="more"> east of Shumen in northeastern Bulgaria,
                        near the village of Madara. The monument is dated in the very late 7th,[2] or more often very
                        early 8th century, during the reign of Bulgar Khan Tervel.The relief depicts a majestic
                        horseman 23 m (75 ft) above ground level in an almost
                        vertical 100 m (328 ft)-high cliff. It is of almost natural size.[3] The horseman, facing right,
                        is thrusting a spear into a lion lying at his horse's feet, and on the left a dog is running
                        after the horseman.[5] The carving of the horseman's halo and garments, as well as the bird in
                        front of the horseman's face, are barely recognizable due to the erosion and bad condition of
                        the monument.[6] The relief is similar to the carbon images found in Saltovo, Soulek, Pliska and
                        Veliki Preslav.[1]
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2904.7603955393265!2d27.116731515195173!3d43.27739527913599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a58fc5722e651f%3A0xe33a2485fa8f1a1e!2sMadara%20Horseman!5e0!3m2!1sen!2sbg!4v1588192620248!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>
    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/25.1_veliki preslav.jpg" alt="">
                </div>
                <h3>25.Veliki Preslav</h3>
                <h4>Region: Shumen</h4>
                <p>
                    The name of Preslav is of Slavic origin; apparently it was initially founded and functioned as a
                    Slavic settlement until its<span id="dots">...</span>
                    <span id="more"> fortification at the beginning of the 9th century. The proximity to the
                        then Bulgarian capital of Pliska led to the fast development and expansion of Preslav during the
                        reign of the Khans Krum and Omurtag. By the time of the coronation of Khan Boris I in 852,
                        Preslav had turned into an important strategic military centre and was the seat of the
                        Ichirgu-boil. A number of churches were built in the city after the conversion of the
                        Bulgarians to Christianity in 864.
                        <img src="/images/101touristSites/25.2_veliki preslav.jpg" alt="">
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23280.204641556888!2d26.80143874547227!3d43.16698721500248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a5f68fcb81ef3b%3A0x400a01269bf5920!2sVeliki%20Preslav!5e0!3m2!1sen!2sbg!4v1588194774768!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/26.1_pliska.jpg" alt="">
                </div>
                <h3>26.Pliska</h3>
                <h4>Region: Shumen</h4>
                <p>
                    Pliska was the capital of the First Bulgarian Empire between 681 and 893 AD. According to a
                    Bulgarian chronicle, it was founded by id="dots">...</span>
                    <span id="more"> Khan Asparukh. At its greatest extent, it had an area of 21.8
                        km² and was surrounded by earthen ramparts.[3] A smaller stone fortification was built inside
                        these ramparts and this contained a palace and buildings belonging to the aristocracy.
                        <img src="/images/101touristSites/26.2_Pliska-Bazilika.jpg" alt="">
                        The ruins of the city of Pliska lie 3 km north of the modern village of Pliska. The site of the
                        city is currently a National Archaeological Reserve. Ruins of the Great and the Small Palace,
                        the strong stone fortifications and the Great Basilica (c. 875), used both as a royal church and
                        as a national patriarchal cathedral, can be seen in the reserve.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11602.448030285415!2d27.11422918385926!3d43.364225816114086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a585d067178ae3%3A0xa00a014cd0d8a60!2s9920%20Pliska!5e0!3m2!1sen!2sbg!4v1588196214368!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/27.2_The_fortress_of_Shumen.jpg" alt="">
                </div>
                <h3>27.Shumen Fortress</h3>
                <h4>Region: Shumen</h4>
                <p>
                    The Shumen fortress (Bulgarian: Шуменска крепост, Shumenska krepost) is an archaeological site
                    overlooking the city of Shumen in north-eastern Bulgaria.<span id="dots">...</span> <span id="more">
                        It is an ancient fortress with historical links to a village nearby traced to early Iron Age and
                        later owned by the Thracians in the 5th century BC.
                        <img src="/images/101touristSites/27.1_shumenska_kr.jpg" alt="">
                        Then, from 2nd to 4th centuries AD, it was
                        controlled by the Romans who built towers and walls, and it was refurbished by the Byzantines as
                        their garrison town. Shumen thrived in the Middle Ages as an important stronghold of the
                        Bulgarian
                        Empire. In 1444 the fort was destroyed by the Ottomans after their victory in the Battle of
                        Varna
                        over a Christian army under Władysław III of Poland. The fortress remained deserted ever since.
                    </span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.46671496235!2d26.89235821519461!3d43.262597279136536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a58a9964edb073%3A0x1094fd801fdef66a!2zU2h1bWVuIEZvcnRyZXNzLCDQqNGD0LzQtdC90YHQutC-INC_0LvQsNGC0L4sIDk3MDAgU2h1bWVu!5e0!3m2!1sen!2sbg!4v1588196332066!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/28.1_sumen pametnik.jpg" alt="">
                </div>
                <h3>28.Monument to 1300 Years of Bulgaria</h3>
                <h4>Region: Shumen</h4>
                <p>The Monument to 1300 Years of Bulgaria (Bulgarian: Паметник 1300 години България), also known as the
                    Founders of the Bulgarian State Monument<span id="dots">...</span>
                    <span id="more"> (Паметник на създателите на Българската държава), is a
                        large monument built on a plateau above the city of Shumen, Bulgaria. It was built in 1981 to
                        commemorate the 1300th anniversary of the First Bulgarian Empire.
                        The monument is built in concrete in a Cubist style, and designed by Bulgarian sculptors Krum
                        Damyanov and Ivan Slavov. It is reached by a processional concrete stairway from Shumen, or by
                        road.[2] It stands at a height of 450 m above sea level and can be seen from 30 km away.[3]
                        <img src="/images/101touristSites/28.2_sumen pametnik.jpg" alt="">
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.501166822637!2d26.92074681519469!3d43.26187537913671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a58af18efaf5d5%3A0xa60b88a05b941a9b!2sFounders%20of%20the%20Bulgarian%20State%20Monument!5e0!3m2!1sen!2sbg!4v1588196767735!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>
    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/21.1_smolqn.jpg" alt="">
                </div>
                <h3>21.Smolyan, Planetarium</h3>
                <h4>Region: Smolyan</h4>
                <p>
                    Smolyan (Bulgarian: Смолян) is a town and ski resort in the far south of Bulgaria near the border
                    with Greece. It is the <span id="dots">...</span>
                    <span id="more">
                        administrative and industrial centre of the homonymous Smolyan Province. The
                        town is situated in the valley of the Cherna ("Black") and the Byala ("White") Rivers in the
                        central Rhodopes at the foot of the mountains' highest part south of the popular ski resorts
                        Pamporovo and Chepelare. On September 6th 1975, the biggest Planetarium with public observatory
                        in Bulgaria opened its doors in the town of Smolyan.
                        <img src="/images/101touristSites/21.2_planetarium.jpg" alt="">
                        The Planetarium is the town's most frequently visited place of interest. For the past 40 years
                        it has been visited by 2,750,000 people.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47752.72784629606!2d24.706135579902067!3d41.57908048708611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ac598ad0d361bb%3A0x400a01269bf5a80!2sSmolyan!5e0!3m2!1sen!2sbg!4v1588191727950!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/22.1_mg-6913-kovatchevitza.jpg" alt="">
                </div>
                <h3>22.Kovachevitsa</h3>
                <h4>Region: Blagoevgrad</h4>
                <p>
                    The village is situated in the Dabrash part of the Rhodope Mountains in the steep valley of the
                    Kanina river, <span id="dots">...</span>
                    <span id="more">
                        9 kilometers north of Garmen, 71 kilometers southeast of Blagoevgrad
                        and 119 kilometers southeast of Sofia.
                        <img src="/images/101touristSites/22.2_Kovachevitsa_street_and_houses.jpg" alt="">
                        The village was founded by refugees from different villages, who tried to escape the Ottoman
                        assimilation in the 17th century. The isolated location and the fresh water supply were the most
                        important factors in this process. The village has never had Ottoman administration, therefore
                        it preserved the Bulgarian traditions.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5959.354436627447!2d23.822274526311094!3d41.68431401695204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ab97132c3ffd0d%3A0xa00a014cd0f9f10!2s2969%20Kovachevitsa!5e0!3m2!1sen!2sbg!4v1588191825927!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/23.1_Saparevo-church-Uspenie.jpg" alt="">
                </div>
                <h3>23.Saparevo village</h3>
                <h4>Region: Kyustendil</h4>
                <p>
                    The Church of the Holy Virgin in village of Saparevo is a reduction of the church in the Rila
                    Monastery and was built in 1861 - 1864 year<span id="dots">...</span> <span id="more">
                        by masters from Tran. The woodcarving and icons are done
                        by masters from the Bansko-Razlog school and in their works they also following models from the
                        Rila Monastery.
                        <img src="/images/101touristSites/23.2_Saparevo-church-Uspenie.jpg" alt="">
                        The church is very beautiful. Its central dome is supported by four columns, which are crowned
                        with gilded images.</span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11803.350481289872!2d23.282892333235214!3d42.30333011704957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aade7e95683209%3A0x57952dad6d0060b8!2s2645%20Saparevo!5e0!3m2!1sen!2sbg!4v1588192432130!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/24.1-madarski-konnik.jpg" alt="">
                </div>
                <h3>24.Madara Horseman</h3>
                <h4>Region: Shumen</h4>
                <p>The Madara Rider or Madara Horseman[1] (Bulgarian: Мадарски конник, Madarski konnik) is an early
                    medieval large rock relief carved on the Madara Plateau<span id="dots">...</span>
                    <span id="more"> east of Shumen in northeastern Bulgaria,
                        near the village of Madara. The monument is dated in the very late 7th,[2] or more often very
                        early 8th century, during the reign of Bulgar Khan Tervel.The relief depicts a majestic
                        horseman 23 m (75 ft) above ground level in an almost
                        vertical 100 m (328 ft)-high cliff. It is of almost natural size.[3] The horseman, facing right,
                        is thrusting a spear into a lion lying at his horse's feet, and on the left a dog is running
                        after the horseman.[5] The carving of the horseman's halo and garments, as well as the bird in
                        front of the horseman's face, are barely recognizable due to the erosion and bad condition of
                        the monument.[6] The relief is similar to the carbon images found in Saltovo, Soulek, Pliska and
                        Veliki Preslav.[1]
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2904.7603955393265!2d27.116731515195173!3d43.27739527913599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a58fc5722e651f%3A0xe33a2485fa8f1a1e!2sMadara%20Horseman!5e0!3m2!1sen!2sbg!4v1588192620248!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>
    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/21.1_smolqn.jpg" alt="">
                </div>
                <h3>21.Smolyan, Planetarium</h3>
                <h4>Region: Smolyan</h4>
                <p>
                    Smolyan (Bulgarian: Смолян) is a town and ski resort in the far south of Bulgaria near the border
                    with Greece. It is the <span id="dots">...</span>
                    <span id="more">
                        administrative and industrial centre of the homonymous Smolyan Province. The
                        town is situated in the valley of the Cherna ("Black") and the Byala ("White") Rivers in the
                        central Rhodopes at the foot of the mountains' highest part south of the popular ski resorts
                        Pamporovo and Chepelare. On September 6th 1975, the biggest Planetarium with public observatory
                        in Bulgaria opened its doors in the town of Smolyan.
                        <img src="/images/101touristSites/21.2_planetarium.jpg" alt="">
                        The Planetarium is the town's most frequently visited place of interest. For the past 40 years
                        it has been visited by 2,750,000 people.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47752.72784629606!2d24.706135579902067!3d41.57908048708611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ac598ad0d361bb%3A0x400a01269bf5a80!2sSmolyan!5e0!3m2!1sen!2sbg!4v1588191727950!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/22.1_mg-6913-kovatchevitza.jpg" alt="">
                </div>
                <h3>22.Kovachevitsa</h3>
                <h4>Region: Blagoevgrad</h4>
                <p>
                    The village is situated in the Dabrash part of the Rhodope Mountains in the steep valley of the
                    Kanina river, <span id="dots">...</span>
                    <span id="more">
                        9 kilometers north of Garmen, 71 kilometers southeast of Blagoevgrad
                        and 119 kilometers southeast of Sofia.
                        <img src="/images/101touristSites/22.2_Kovachevitsa_street_and_houses.jpg" alt="">
                        The village was founded by refugees from different villages, who tried to escape the Ottoman
                        assimilation in the 17th century. The isolated location and the fresh water supply were the most
                        important factors in this process. The village has never had Ottoman administration, therefore
                        it preserved the Bulgarian traditions.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5959.354436627447!2d23.822274526311094!3d41.68431401695204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ab97132c3ffd0d%3A0xa00a014cd0f9f10!2s2969%20Kovachevitsa!5e0!3m2!1sen!2sbg!4v1588191825927!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/23.1_Saparevo-church-Uspenie.jpg" alt="">
                </div>
                <h3>23.Saparevo village</h3>
                <h4>Region: Kyustendil</h4>
                <p>
                    The Church of the Holy Virgin in village of Saparevo is a reduction of the church in the Rila
                    Monastery and was built in 1861 - 1864 year<span id="dots">...</span> <span id="more">
                        by masters from Tran. The woodcarving and icons are done
                        by masters from the Bansko-Razlog school and in their works they also following models from the
                        Rila Monastery.
                        <img src="/images/101touristSites/23.2_Saparevo-church-Uspenie.jpg" alt="">
                        The church is very beautiful. Its central dome is supported by four columns, which are crowned
                        with gilded images.</span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11803.350481289872!2d23.282892333235214!3d42.30333011704957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aade7e95683209%3A0x57952dad6d0060b8!2s2645%20Saparevo!5e0!3m2!1sen!2sbg!4v1588192432130!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/24.1-madarski-konnik.jpg" alt="">
                </div>
                <h3>24.Madara Horseman</h3>
                <h4>Region: Shumen</h4>
                <p>The Madara Rider or Madara Horseman[1] (Bulgarian: Мадарски конник, Madarski konnik) is an early
                    medieval large rock relief carved on the Madara Plateau<span id="dots">...</span>
                    <span id="more"> east of Shumen in northeastern Bulgaria,
                        near the village of Madara. The monument is dated in the very late 7th,[2] or more often very
                        early 8th century, during the reign of Bulgar Khan Tervel.The relief depicts a majestic
                        horseman 23 m (75 ft) above ground level in an almost
                        vertical 100 m (328 ft)-high cliff. It is of almost natural size.[3] The horseman, facing right,
                        is thrusting a spear into a lion lying at his horse's feet, and on the left a dog is running
                        after the horseman.[5] The carving of the horseman's halo and garments, as well as the bird in
                        front of the horseman's face, are barely recognizable due to the erosion and bad condition of
                        the monument.[6] The relief is similar to the carbon images found in Saltovo, Soulek, Pliska and
                        Veliki Preslav.[1]
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2904.7603955393265!2d27.116731515195173!3d43.27739527913599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a58fc5722e651f%3A0xe33a2485fa8f1a1e!2sMadara%20Horseman!5e0!3m2!1sen!2sbg!4v1588192620248!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>
    <article class="sectionsites">
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/21.1_smolqn.jpg" alt="">
                </div>
                <h3>21.Smolyan, Planetarium</h3>
                <h4>Region: Smolyan</h4>
                <p>
                    Smolyan (Bulgarian: Смолян) is a town and ski resort in the far south of Bulgaria near the border
                    with Greece. It is the <span id="dots">...</span>
                    <span id="more">
                        administrative and industrial centre of the homonymous Smolyan Province. The
                        town is situated in the valley of the Cherna ("Black") and the Byala ("White") Rivers in the
                        central Rhodopes at the foot of the mountains' highest part south of the popular ski resorts
                        Pamporovo and Chepelare. On September 6th 1975, the biggest Planetarium with public observatory
                        in Bulgaria opened its doors in the town of Smolyan.
                        <img src="/images/101touristSites/21.2_planetarium.jpg" alt="">
                        The Planetarium is the town's most frequently visited place of interest. For the past 40 years
                        it has been visited by 2,750,000 people.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47752.72784629606!2d24.706135579902067!3d41.57908048708611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ac598ad0d361bb%3A0x400a01269bf5a80!2sSmolyan!5e0!3m2!1sen!2sbg!4v1588191727950!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/22.1_mg-6913-kovatchevitza.jpg" alt="">
                </div>
                <h3>22.Kovachevitsa</h3>
                <h4>Region: Blagoevgrad</h4>
                <p>
                    The village is situated in the Dabrash part of the Rhodope Mountains in the steep valley of the
                    Kanina river, <span id="dots">...</span>
                    <span id="more">
                        9 kilometers north of Garmen, 71 kilometers southeast of Blagoevgrad
                        and 119 kilometers southeast of Sofia.
                        <img src="/images/101touristSites/22.2_Kovachevitsa_street_and_houses.jpg" alt="">
                        The village was founded by refugees from different villages, who tried to escape the Ottoman
                        assimilation in the 17th century. The isolated location and the fresh water supply were the most
                        important factors in this process. The village has never had Ottoman administration, therefore
                        it preserved the Bulgarian traditions.
                    </span></p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5959.354436627447!2d23.822274526311094!3d41.68431401695204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ab97132c3ffd0d%3A0xa00a014cd0f9f10!2s2969%20Kovachevitsa!5e0!3m2!1sen!2sbg!4v1588191825927!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/23.1_Saparevo-church-Uspenie.jpg" alt="">
                </div>
                <h3>23.Saparevo village</h3>
                <h4>Region: Kyustendil</h4>
                <p>
                    The Church of the Holy Virgin in village of Saparevo is a reduction of the church in the Rila
                    Monastery and was built in 1861 - 1864 year<span id="dots">...</span> <span id="more">
                        by masters from Tran. The woodcarving and icons are done
                        by masters from the Bansko-Razlog school and in their works they also following models from the
                        Rila Monastery.
                        <img src="/images/101touristSites/23.2_Saparevo-church-Uspenie.jpg" alt="">
                        The church is very beautiful. Its central dome is supported by four columns, which are crowned
                        with gilded images.</span>
                </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11803.350481289872!2d23.282892333235214!3d42.30333011704957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14aade7e95683209%3A0x57952dad6d0060b8!2s2645%20Saparevo!5e0!3m2!1sen!2sbg!4v1588192432130!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
        <div class="site">
            <section class="mainsection">
                <div class="pic">
                    <img src="/images/101touristSites/24.1-madarski-konnik.jpg" alt="">
                </div>
                <h3>24.Madara Horseman</h3>
                <h4>Region: Shumen</h4>
                <p>The Madara Rider or Madara Horseman[1] (Bulgarian: Мадарски конник, Madarski konnik) is an early
                    medieval large rock relief carved on the Madara Plateau<span id="dots">...</span>
                    <span id="more"> east of Shumen in northeastern Bulgaria,
                        near the village of Madara. The monument is dated in the very late 7th,[2] or more often very
                        early 8th century, during the reign of Bulgar Khan Tervel.The relief depicts a majestic
                        horseman 23 m (75 ft) above ground level in an almost
                        vertical 100 m (328 ft)-high cliff. It is of almost natural size.[3] The horseman, facing right,
                        is thrusting a spear into a lion lying at his horse's feet, and on the left a dog is running
                        after the horseman.[5] The carving of the horseman's halo and garments, as well as the bird in
                        front of the horseman's face, are barely recognizable due to the erosion and bad condition of
                        the monument.[6] The relief is similar to the carbon images found in Saltovo, Soulek, Pliska and
                        Veliki Preslav.[1]
                    </span> </p>
            </section>
            <section class="secondarysection">
                <div class="location">
                    <h5>Location</h5>
                    <div id="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2904.7603955393265!2d27.116731515195173!3d43.27739527913599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40a58fc5722e651f%3A0xe33a2485fa8f1a1e!2sMadara%20Horseman!5e0!3m2!1sen!2sbg!4v1588192620248!5m2!1sen!2sbg"
                            width="100%" height="200px" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="buttonssection">
                    <button class="btn-sites" onclick="myFunction(this)" id="myBtn">Read more</button>
                    {{#if isLoggedIn}}
                    <button class="btn-sites" onclick="getItfunction(this)"><a class="btn-sites"
                            href="#/destinations/create101sites">Get It</a></button>
                    {{else}}
                    {{/if}}
                </div>
            </section>
        </div>
    </article>
    <div class="change_btn_section">
        <a href="#/tourist101sites/tourist101sites">1</a>
        <a class="curent sidespage" href="#/tourist101sites/tourist101sites2">2</a>
        <a href="#/tourist101sites/tourist101sites3">3</a>
        <a href="#/tourist101sites/tourist101sites4">4</a>
        <a href="#/tourist101sites/tourist101sites5">5</a>
    </div>
</section>

{{> footer}}